/*CONTACTO*/
.bodyFoot{
	background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% );

	#letra{color: $letra;}
	#letraFont{
		color: $letra;
		font-size: 20px;
	}

	.legend{
		text-transform: uppercase;
	}
	
}