.map{
    background-image: url(../multimedia/section-multimedia/game-16.jpg);
    background-repeat: no-repeat;
    
    #letra{color: $letra;}

    .navCherno{
        background-color: #02181a;
        border: $border;
        margin: auto;
    }
}