/*MERCHANDISING*/
.merch{
	background-color: #02181a;

	#letra{color: $letra;}

	#mercha{
		margin-left: 50px;
		text-align: center;
	}
	#toping{
		margin-top: 25px;
		width: 50rem;
	}
	#toping2{
		margin-top: 55px;
		width: 50rem;
	}
	#imag{
		width: 550px;
	}
}