/*MULTIMEDIA*/
.multi{
	background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% );

	#letra{color: $letra;}

	@mixin roll {
		text-align: center;
    	width: 700px;
    	margin: auto;
		box-shadow: map-get($map: $boxing, $key: box-shadow);
	}
	.roll2{
		@include roll;
    	width: 500px;
	}
	.ilust{
		text-align: center;
	}
	.multi3{
		box-shadow: map-get($map: $boxing, $key: box-shadow);
		border-radius: 13px;
    	border: #02181a solid 4px;
    	width: 1000px;
	}
}