/*MULTIMEDIA*/
.multi{
	background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% );

	#letra{color: $letra;}

	.roll {
		text-align: center;
    	width: 45%;
		margin: auto;
		box-shadow: $box;
	}
	.roll2{
		text-align: center;
		margin: auto;
		box-shadow: $box;
    	width: 40%;
	}
	.ilust{
		text-align: center;
	}
	.multi3{
		box-shadow: $box;
		border-radius: 13px;
    	border: #02181a solid 4px;
    	width: 60%;
	}
}