@media (max-width:1090px) {
    .contenedorBase{
        display: none;
    }
    #medios{
        display: none;
    }
    .flexPadre{
        flex-wrap: wrap;
    }
    #tiy{
        display: block;
    }
    .multimedia{
        display: grid;
        grid-template-areas:
        "navegacion navegacion navegacion"
        "variado variado variado"
        "main main main"
        "a b"
        "c d"
        "e f"
        "g h"
        "i ";
        gap: 15px;
    }
    .map {
        display: grid;
        grid-template-areas:
        "barra"
        "inicio"
        "zona"
        "inicio";
    }
    .contacto{
        display: inline;
    }
}

@media (max-width:768px)  {
    .inicio{
        display: none;
    }
    #medios{
        display:none;
    }
    .flexPadre{
        flex-wrap:nowrap;
    }
    #imgInicio{
        display: none;
    }
    .map {
        display: grid;
        grid-template-areas:
        "inicio"
        "navCherno";
    }
    .contacto{
        display: grid;
        grid-template-areas: 
        "contactInfo ContactInfo"
        "relleno relleno";
    }
    .multimedia{
        display: grid;
        grid-template-areas:
        "navegacion navegacion navegacion"
        "variado variado variado"
        "main main main"
        "a b"
        "c d"
        "e f"
        "g h"
        "i j";
        gap: 15px;
    }
}

@media (min-width:768px) {
    .multimedia{
        display: grid;
        grid-template-areas:
        "navegacion navegacion navegacion"
        "variado variado variado"
        "main main main"
        "a b"
        "c d"
        "e f"
        "g h"
        "i j";
        gap: 15px;
    }
}